html {
  font-size: 10px;
  background: url("images/background.jpg") bottom center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 5px black;  
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 2rem;
}

.highlight {
  color: #3cc1f2;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.key {
  border: 4px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s;
  text-align: center;
  background: rgba(0,0,0,0.4);
  user-select: none;
}

.key:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.0);
}

.playing {
  transform: scale(2.5);
  border-color: #3cc1f2;
  box-shadow: 0 0 10px #3cc1f2;
  background-image: url("images/sean.jpg");
  background-size: 100% 100%;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3cc1f2;
}

.controllers {
  text-align: center;
  background: rgba(0,0,0,0.4);
  user-select: none;
  padding: 1rem .5rem;
  border-radius: 5px;
}

label {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
}

footer {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  line-height: 2rem;
  width: 100%;
  text-align: center;
}

footer > a {
  color: #3cc1f2;
  text-decoration: none;
  transition: all .2s;
  border-bottom: 1px solid rgba(0,0,0,0.0);
}

footer > a:hover {
  border-bottom: 1px solid #3cc1f2;
}